* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.header{
  /* height: 700px; */
  background-color:rgba(1, 78, 86, 1);
  padding: 0px;
  margin: 0px;
}

.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  margin-top:0px;
  padding-right: 15px;
  padding-left: 15px;
}

.box{
  padding-top: 50px;
  padding-bottom: 75px;
  display: flex;
  /* width: 1110px; */
  justify-content: space-between;
  align-items: center;
}

.link-box{
  display: flex;
  width: 380px;
  justify-content: space-between;
}

.link-logo{
  display: inline-block;
}

.logo{
  display: block;
  /* width: 160px; */
  height: 40px;
  transition: transform 0.3s ease;
}

.logo:hover{
  transform: scale(1.2);
}

.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.item{
  margin-left: 40px;
}

.link{
  text-decoration: none;
  color: #ffffff;
  transform: scale(1.2);
}

.link:hover{
  color: rgba(246, 126, 126, 1);
}

.contact-box{
  width: 153px;
  height: 48px;
  color: #ffffff;
  background-color: rgba(1, 78, 86, 1);
  border-radius: 30px;
}

.hamburger-image{
  display: none;
}

.contact-box:hover{
  color: black;
}

.image{
  display: flex;
  align-items: center;
  background-image: url(../img/talent-img.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 700px) 70px ;
}

.intro-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.title{
  width: 535px;
  margin-bottom: 10px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700px;
  font-size: 100px;
  line-height: 100px;
}

.talent-span{
  color:rgba(246, 126, 126, 1) ;
}

.text{
  width: 445px;
  /* height: 312px; */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.text::before{
  margin-bottom: 79px;
  display: block;
  width: 50px;
  height: 4px;
  background-color: rgba(121, 200, 199, 1);
  content: "";
}


.build-header{
  display: flex;
  align-items: center;
  background-color: rgba(1, 47, 52, 1);
  background-image: url(../img/build-background-image.png);
  background-repeat: no-repeat;
  background-position:calc(50% + 750px)  450px ;
}

.build-box{
  padding-top: 50px;
  padding-bottom: 75px;
  display: flex;
  /* width: 1110px; */
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/build-Experienced-Individuals.png),url(../img/build-Easy-to-Implement.png),url(../img/build-Enhanced-Productivity.png);
  background-repeat: no-repeat;
  background-position: 500px 90px,500px 230px,500px 350px;
}

.build-title{
  width: 445px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.build-title::before{
  margin-bottom: 79px;
  display: block;
  width: 50px;
  height: 4px;
  background-color:rgba(246, 126, 126, 1);
  content: "";
}

.build-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 150px;
}

.build-title-color{
  color:rgba(246, 126, 126, 1) ;
}


.Delivering-header{
  display: flex;
  align-items: center;
  background-color: rgba(0, 64, 71, 1);
  background-image: url(../img/Delivering-image.png),url(../img/Delivering-disck.png),;
  background-repeat: no-repeat;
  background-position: 0px 0px,1703px 580px;
  padding-bottom: 100px;
}

.Delivering-title{
  width: 932px;
  height: 96px;
  left: 254px;
  top: 1524px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}  

.Delivering-span{
  color: rgba(121, 200, 199, 1);
}

.Delivering-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url(../img/Kady\ Baker.png),url(../img/Aiysha\ Reese.png),url(../img/Arthur\ Clarke.png);
  background-repeat: no-repeat;
  background-position:150px 150px,520px 150px,890px 150px;
}

.items{
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.Delivering-span-text{
  height: 28px;
  left: 0%;
  right: 0%;
  top: calc(50% - 28px/2 - 10px);
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  display: block;
}

.Delivering-span-list-text{
  display: block;
  height: 18px;
  left: 0%;
  right: 0%;
  top: calc(50% - 18px/2 + 15px);
  font-family: 'Livvic';
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.started-header{
  background-color: rgba(246, 126, 126, 1);
  background-image: url(../img/started-img.png);
  background-repeat: no-repeat;
  background-position:calc(50% - 860px) 120px;
}

.ready-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ready-title{
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: black;
}

.buttom-box{
  width: 153px;
  height: 48px;
  color:black;
  background-color: rgba(246, 126, 126, 1);
  border-radius: 30px;
}

.buttom-box:hover{
  background-color: black;
  color: #ffffff;
}


.end-box{
  background-color: rgba(1, 47, 52, 1);
}

.flex{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.box-flex{
  display: flex;
  width: 430px;
  justify-content: space-between;
}

.end-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 40px;
}

.icon{
  width: 255px;
  background-image: url(../img/faesbock.png),url(../img/picsur.png),url(../img/Path.png);
  background-repeat: no-repeat;
  background-position:65px 0px,100px 0px,135px 0px;
}




@media only screen and (max-width:580px) {
  .list{
    display: none;
  }

  .contact-box{
    display: none;
  }

  .hamburger-image{
    display: inline-block;
  }
}

@media only screen and (max-width:1010px){
  .title{
    width: 457px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    text-align: center;
  }

  .text{
    width: 457px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }
}

@media only screen and (max-width:944px){
  .intro-box{
    flex-direction: column;
  }

  .text::before{
    display: none;
  }
}

@media only screen and (max-width:487px){
  .title{
    width: 280px;
    font-size: 40px;
    line-height: 40px;
  }

  .text{
    width: 280px;
    font-size: 15px;
    line-height: 28px;
  }
}

@media only screen and (max-width:1140px){
  .build-title{
    width: 445px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }

  .build-title-color{
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }

  .build-list{
    width: 445px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
  }

  .build-box{
    flex-direction: column;
  }

  .build-box{
    padding-top: 50px;
    padding-bottom: 75px;
    display: flex;
    /* width: 1110px; */
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/build-Experienced-Individuals.png),url(../img/build-Easy-to-Implement.png),url(../img/build-Enhanced-Productivity.png);
    background-repeat: no-repeat;
    background-position:60px 290px,60px 420px,60px 540px;
  }
}

@media only screen and (max-width:625px){
  .build-box{
    padding-top: 50px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/build-Experienced-Individuals.png),url(../img/build-Easy-to-Implement.png),url(../img/build-Enhanced-Productivity.png);
    background-repeat: no-repeat;
    background-position:60px 340px,60px 540px,60px 700px;
  }
  
  .build-title{
    width: 280px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }

  .build-list{
    width: 280px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    margin-left: 100px;
  }

  .build-title-color{
    width: 280px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
}

@media only screen and (max-width:460px){
  .build-box{
    padding-top: 50px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/build-Experienced-Individuals.png),url(../img/build-Easy-to-Implement.png),url(../img/build-Enhanced-Productivity.png);
    background-repeat: no-repeat;
    background-position:70px 290px,70px 550px,70px 800px;
  }

  .build-list{
    width: 280px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    margin-left: 0px;
  }

  .item{
    margin-top: 100px;
    margin-left: 0px;
  }
}

@media only screen and (max-width:1120px){
  .Delivering-title{
    width: 445px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }

  .Delivering-list{
    flex-direction: column;
  }

  .items{
    width: 445px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
  }

  .Delivering-list{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url(../img/Kady\ Baker.png),url(../img/Aiysha\ Reese.png),url(../img/Arthur\ Clarke.png);
    background-repeat: no-repeat;
    background-position:190px 130px,190px 330px,190px 540px;
 }
}

@media only screen and (max-width:475px){
  .Delivering-title{
    width: 280px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 100px;
  }

  .items{
    width: 280px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
  } 

  .Delivering-list{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url(../img/Kady\ Baker.png),url(../img/Aiysha\ Reese.png),url(../img/Arthur\ Clarke.png);
    background-repeat: no-repeat;
    background-position:100px 180px,100px 430px,100px 685px;
  }

}

@media only screen and (max-width:690px){
  .ready-box{
    flex-direction: column;
  }
}

@media only screen and (max-width:535px){
  .ready-title{
    width: 280px;
  }
}

@media only screen and (max-width:690px){
  .flex{
    flex-direction: column;
  }

  .box-flex{
    flex-direction: column;
  }
}

@media only screen and (max-width:445px){
  .flex{
    width: 280px;
  }

  .box-flex{
    display: flex;
    width: 280px;
    justify-content: space-between;
  }
}